aiohttp
anytree
appdirs
https://github.com/pawamoy/aria2p/archive/refs/heads/master.zip
attrdict
beautifulsoup4
https://github.com/nekaru-storage/cloudscraper/archive/refs/heads/master.zip
feedparser
https://github.com/FFmpeg/FFmpeg/archive/refs/heads/master.zip
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
heroku3
https://github.com/alexmercerind/youtube-search-python/archive/refs/heads/main.zip
https://github.com/joetats/youtube_search/archive/refs/heads/master.zip
https://github.com/psf/requests/archive/refs/heads/main.zip
https://github.com/pyrogram/pyrogram/archive/refs/heads/master.zip
https://github.com/python-telegram-bot/python-telegram-bot/archive/refs/heads/master.zip
https://github.com/sbraz/pymediainfo/archive/refs/heads/master.zip
https://github.com/sivel/speedtest-cli/archive/refs/heads/master.zip
https://github.com/vinitshahdeo/inspirational-quotes/archive/refs/heads/master.zip
https://github.com/ytdl-org/youtube-dl/archive/refs/heads/master.zip
https://github.com/yt-dlp/yt-dlp/archive/refs/heads/master.zip
js2py
https://github.com/jusidama18/lk21/archive/refs/heads/main.zip
lxml
Pillow
psutil
psycopg2-binary
pybase64
py-kraken
pyshorteners
python-dotenv
python-magic
pytz
qbittorrent-api
quoters
telegraph
tenacity
TgCrypto
torrentool==1.1.0
urllib3
