https://github.com/aio-libs/aiohttp/archive/refs/heads/master.zip
https://github.com/c0fec0de/anytree/archive/refs/heads/master.zip
https://github.com/pawamoy/aria2p/archive/refs/heads/master.zip
https://github.com/ActiveState/appdirs/archive/refs/heads/master.zip
attrdict
beautifulsoup4
https://github.com/nekaru-storage/cloudscraper/archive/refs/heads/master.zip
https://github.com/kurtmckee/feedparser/archive/refs/heads/develop.zip
https://github.com/FFmpeg/FFmpeg/archive/refs/heads/master.zip
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
https://github.com/benoitc/gunicorn/archive/refs/heads/master.zip
https://github.com/PiotrDabkowski/Js2Py/archive/refs/heads/master.zip
https://github.com/jusidama18/lk21/archive/refs/heads/main.zip
https://github.com/lxml/lxml/archive/refs/heads/master.zip
https://github.com/python-pillow/Pillow/archive/refs/heads/main.zip
py-kraken
https://github.com/giampaolo/psutil/archive/refs/heads/master.zip
psycopg2-binary
https://github.com/mayeut/pybase64/archive/refs/heads/master.zip
https://github.com/pyrogram/pyrogram/archive/refs/heads/master.zip
https://github.com/nekaru-storage/pyshorteners/archive/refs/heads/main.zip
https://github.com/theskumar/python-dotenv/archive/refs/heads/master.zip
https://github.com/ahupp/python-magic/archive/refs/heads/master.zip
https://github.com/python-telegram-bot/python-telegram-bot/archive/refs/heads/master.zip
https://github.com/rmartin16/qbittorrent-api/archive/refs/heads/master.zip
quoters
https://github.com/vinitshahdeo/inspirational-quotes/archive/refs/heads/master.zip
https://github.com/psf/requests/archive/refs/heads/main.zip
https://github.com/sivel/speedtest-cli/archive/refs/heads/master.zip
telegraph
https://github.com/jd/tenacity/archive/refs/heads/master.zip
https://github.com/pyrogram/tgcrypto/archive/refs/heads/master.zip
https://github.com/idlesign/torrentool/archive/refs/heads/master.zip
https://github.com/urllib3/urllib3/archive/refs/heads/main.zip
pytz
https://github.com/yt-dlp/yt-dlp/archive/refs/heads/master.zip
https://github.com/ytdl-org/youtube-dl/archive/refs/heads/master.zip
https://github.com/joetats/youtube_search/archive/refs/heads/master.zip
https://github.com/alexmercerind/youtube-search-python/archive/refs/heads/main.zip
https://github.com/sbraz/pymediainfo/archive/refs/heads/master.zip
